<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Média de Notas</title>
</head>
<body>
    
    <h1>Digite suas notas</h1>

    <form action="/media" method="post">

        <label for="atividade_pratica_laboratorio">Digite a Nota a prática em laboratório</label><br>
        <input type="number" id="atividade_pratica_laboratorio" name="atividade_pratica_laboratorio"><br><br>
        
        <label for="prova_semestre">Digite a Nota da prova do semestre</label><br>
        <input type="number" id="prova_semestre" name="prova_semestre"><br><br>
        
        <label for="trabalho_teorico">Digite a Nota do trabalho teorico</label><br>
        <input type="number" id="trabalho_teorico" name="trabalho_teorico"><br><br>

        <input type="submit" value="Enviar">
    </form>
    <br>
    <button>
        <a href="/">Inicio</a>
    </button>

</body>
</html>