<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercicio 1 - Desenvolvimento Web</title>
</head>
<body>
    <h1>Escolha o que deseja:</h1>

    <div>
        <div>
            <h4><a href='/idade'>Verificação de idade</a></h4>
        </div>
        <div>
            <h4><a href='/media'>Média ponderada</a></h4>
        </div>
        <div>
            <h4><a href='/cadastro'>Cadastro de Dados</a></h4>
        </div>
    </div>
</body>
</html>